.top{
  background-image:url(http://i64.tinypic.com/ivwjf4.png);
  background-position: 10% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom:0px;
  height:300px
}

#name{
  color:rgb(270,270,270);
  margin-left:15%;
  margin-top:20px;
  font-family: 'Bungee Inline', cursive;
}

.form-control {
  width:10px; 
  
}
h2{
  
  margin-left:15%;
 
}
.text{
  margin-left:15%;
  margin-top:20px;
  width:80px;
}

.secondd{
  background-color:rgb(50,50,50);
  margin-top:-2.4%;
  height:100%;
  

}

#text-body {
  width:600px;
  height:200px;
  margin-bottom:10px;
}

.hi{
  font-family: 'Lobster', cursive;
  font-size:50px;
  color:rgb(150,150,150);
}
#drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}
.drag{
    color:white;
}
