body {
  height: 100%;
  width: 100%;
  background-color:rgb(50,50,50);
}

#name{
  color:rgb(270,270,270);
  margin-left:15%;
  margin-top:20px;
  font-family: 'Bungee Inline', cursive;
}

body{
  position:relative;
}

.spinner{
  margin-left:30%;
  margin-right:30%;
position:absolute;
top:20%;
  left:30%;
  right:30%;
margin-left:30%;
margin-right:30%;
  margin-top:20%;
  opacity:0.6;

}
.form-control {
  width:10px; 
  
}
h2{
  
  margin-left:15%;
 
}
.text{
  margin-left:25%;
  margin-right:25;
  margin-top:20px;
  width:80px;
}

.secondd{
  margin-top:-2.4%;
  margin-bottom:0px;
  

}

#text-body {
  width:600px;
  height:300px;
  margin-bottom:10px;
  
}

.hi{
  font-family: 'Lobster', cursive;
  font-size:50px;
  margin-top:50px;
  margin-left:25%;
  margin-right:25;
  color:rgb(150,150,150);
}
#drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}
.drag{
    color:white;
}
